{% extends '@WebProfiler/Profiler/layout.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<style>
		tr.log-status-success > td:first-child,
		tr.log-status-warning > td:first-child,
		tr.log-status-error > td:first-child,
		tr.log-status-silenced > td:first-child {
			position: relative;
		}
		tr.log-status-success > td:first-child:before,
		tr.log-status-warning > td:first-child:before,
		tr.log-status-error > td:first-child:before,
		tr.log-status-silenced > td:first-child:before {
			background: transparent;
			border-radius: 0;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 4px;
			height: 100%;
		}
		tr.log-status-success > td:first-child:before {
			background: var(--badge-success-color);
		}
		tr.log-status-warning > td:first-child:before {
			background: var(--yellow-400);
		}
		tr.log-status-error > td:first-child:before {
			background: var(--red-400);
		}
		tr.log-status-silenced > td:first-child:before {
			background: #a78bfa;
		}
	</style>
{% endblock %}

{% block menu %}
	<span class="label {{collector.active ? '' : 'disabled'}}">
		<span class="icon">
			{{ source('@WebProfiler/Icon/workflow.svg') }}
		</span>
		<strong>PHP Multithread</strong>
	</span>
{% endblock %}

{% block panel %}

{% if collector.hasIssues() %}

    <h2>Issues</h2>

    <table style="display: table;">
        <thead>
            <tr>
                <th>Message</th>
                <th>Context</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in collector.issues %}
                <tr class="" style="display: table-row;">
                    <td class="font-normal">
                        {{ entry.message }}
                    </td>
                    <td class="font-normal">
                        <pre>{{ dump(entry.context)}}</pre>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<h2>Executed Commands</h2>

{% if collector.runs is empty %}
	<div class="empty">
		<p>No runs recorded.</p>
	</div>
{% endif %}

{% for batchNumber, runs in collector.getRunsGroupedByBatchNumber() %}
    <nav>
        <ul>
            <li><a href="#batch-{{ batchNumber }}">Batch {{ batchNumber }} ({{ runs|length }} threads / {{ collector.countBatchErrors(runs) }} errors)</a></li>
        </ul>
    </nav>
{% endfor %}

{% for batchNumber, runs in collector.getRunsGroupedByBatchNumber() %}
    <h3 id="batch-{{ batchNumber }}">Batch {{ batchNumber }}</h3>
    <div>Runner: {{ runs[0].runnerName }} ({{ runs|length }} threads / {{ collector.countBatchErrors(runs) }} errors)</div>
	<table style="display: table;">
		<thead>
			<tr>
				<th>Class</th>
				<th>Method</th>
				<th>Duration</th>
                <th>Response</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in runs %}
				<tr class="{{ entry.response.hasError ? 'log-status-error' : 'log-status-success' }}" style="display: table-row;">
					<td class="font-normal">
						<span title="{{ entry.class }}">{{ entry.className }}</span>
					</td>
					<td class="font-normal">
						{{ entry.method }}
					</td>
					<td class="font-normal">
						{{ entry.response.duration|number_format(3) }}&nbsp;s
					</td>
                    <td class="font-normal">
                        <pre>{{ dump(entry.response)}}</pre>
                    </td>
				</tr>
            {% endfor %}
		</tbody>
	</table>
{% endfor %}

{% endblock %}
